@import "tailwindcss";

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 900;
  font-style: italic;
}

@font-face {
  font-family: 'CheeseMarket';
  src: url('/fonts/cheese_market/Cheese Market.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Instrument Sans", sans-serif;
  --font-cheese: "CheeseMarket", sans-serif;
}

/* Applying Cheese Market font where font-black is used */
.font-black {
  font-family: var(--font-cheese) !important;
}


html {
  scroll-behavior: smooth;
}

:root {
   --bg-color: #000000;
   --primary-text-color: #F46801;
   --text-color: #ffffff;
}

body {
   background-color: var(--bg-color);

   color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, span, a, p {
  @apply tracking-[1px];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

/* removed hover pause to keep it moving always */
.animate-marquee:hover {
  animation-play-state: running;
}

.footer-section {
  @apply w-full bg-black text-[var(--text-color)] pt-16 pb-12 border-t-2 border-dashed border-[var(--primary-text-color)];
} 

.hero-section {
  @apply relative  flex flex-col items-center justify-center text-center px-6 pt-12  overflow-hidden bg-black;
} 


  